
/*header*/
.header{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0%;
    background-color:lightgray;
    width: 100%;
}

.links{
    list-style-type: none;
    text-decoration: none;
    color: black;
    margin: 0%;
    padding: 0%;
}

/*footer*/

.footer{
    display: flex;
    box-sizing: border-box;
    margin: 0%;
    width: 100%;
    justify-content: space-between;
    background-color: lightgray;
    align-items: baseline;
}

.icons{
    color: black;
    list-style-type: none;
}

/*home*/


/*detalles home*/


/*playlist*/


/*generos*/
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    
}
.container{

}
.rock{
    background-color: gray;
    width: 25%;
    border-radius: 5%;
}
/*detalles genero*/


/*pagina resultados*/


