
.header{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0%;
    background-color:lightgray;
}

.links{
    list-style-type: none;
    text-decoration: none;
    color: black;
    margin: 0%;
    padding: 0%;
}



