
/*header*/
.header{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0%;
    background-color:lightgray;
    width: 100%;
}

.links{
    list-style-type: none;
    text-decoration: none;
    color: black;
    margin: 0%;
    padding: 0%;
}

.header_links{
    display: flex;
    justify-content: right;
    box-sizing: border-box;
    margin-left: 60%;
    align-items: flex-start;
}

.logo{
    display: flex;
    box-sizing: border-box;
    justify-content: left;
    margin-right: 45%;
}

#logo_header{
    width: 5%;
    border-radius: 50%;
    display: flex;
    justify-content: left;
    box-sizing: border-box;
    margin-right: 45%;
}

/*footer*/

.footer{
    display: flex;
    box-sizing: border-box;
    margin: 0%;
    width: 100%;
    justify-content: space-between;
    background-color: lightgray;
    align-items: baseline;
}

.icons{
    color: black;
    list-style-type: none;
}

.contacto{
    margin-right: 5%;
}

.nombres{
    margin-left: 5%;
}

/*home*/

.body_home{
    background-color: lightgray;
    width: 100%;
}

.epigrafe_artistas{
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}

.artistas_home{
    display: flex;
    flex-direction: column;
    margin: 0%;
    margin-top: 30px;
    box-sizing: border-box;
    flex-direction: row;
    background-color: lightgray;
    justify-content: space-around;
}

#h1_artistas{
    display: flex;
    width: 100%;
    margin: 2,5px;
    box-sizing: border-box;
}

#queen_artistas{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    height: 250px;
}

#ariana_artistas{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    height: 250px;
}

#hygo_artistas{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    height: 250px;
}

#velapuerca_artistas{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    height: 250px;
}

#callejeros_artistas{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    height: 250px;
}

#bts_artistas{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    height: 250px;
}

.titulos_artistas{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.albums_home{
    display: flex;
    flex-direction: column;
    margin: 0%;
    margin-top: 30px;
    box-sizing: border-box;
    flex-direction: row;
    background-color: lightgray;
    justify-content: space-around;
}

/*detalles home*/


/*playlist*/


/*generos*/
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    
}

.rock{
    background-color: gray;
    width: 25%;
    border-radius: 5%;
}

/*detalles genero*/


/*pagina resultados*/


